<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="world" default="" doc="ISCAS_building, ROS-Academy, simple_road, simple_road"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="false"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="world_name" value="$(find robot_gazebo)/worlds/$(arg world).world"/>
    </include>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find iss_manager)/rviz/gazebo_demo.rviz"/>

    <arg name="robot_name_0" default="ego_vehicle"/>
    <arg name="robot_type_0" default="pav_s01" doc="pav_s00, pav_s01, pav_s01_scaled"/>
    <arg name="x_pos_0" default="9.75"/>
    <arg name="y_pos_0" default="1.2"/>
    <arg name="z_pos_0" default="0"/>
    <arg name="R_pos_0" default="0"/>
    <arg name="P_pos_0" default="0"/>
    <arg name="Y_pos_0" default="3.14"/>
    <group ns="$(arg robot_name_0)">
        <!-- <include file="$(find robot_gazebo)/launch/gmapping.launch">
            <arg name="robot_name" value="$(arg robot_name_0)"/>
        </include> -->

        <include file="$(find robot_gazebo)/launch/create_robot.launch">
            <arg name="robot_name" value="$(arg robot_name_0)"/>
            <arg name="robot_type" value="$(arg robot_type_0)"/>
            <arg name="x_pos" value="$(arg x_pos_0)"/>
            <arg name="y_pos" value="$(arg y_pos_0)"/>
            <arg name="z_pos" value="$(arg z_pos_0)"/>
            <arg name="R_pos" value="$(arg R_pos_0)"/>
            <arg name="P_pos" value="$(arg P_pos_0)"/>
            <arg name="Y_pos" value="$(arg Y_pos_0)"/>
        </include>

        <rosparam command="load" file="$(find iss_manager)/config/$(arg robot_type_0).yaml"/>
        <include file="$(find iss_manager)/launch/iss_manager.launch"/>
    </group>

    <!-- <arg name="robot_name_1" default="ego_vehicle_duplicate"/>
    <arg name="robot_type_1" default="pav_s01" doc="pav_s00, pav_s01, pav_s01_scaled"/>
    <arg name="x_pos_1" default="-1.8"/>
    <arg name="y_pos_1" default="2"/>
    <arg name="z_pos_1" default="0"/>
    <arg name="R_pos_1" default="0"/>
    <arg name="P_pos_1" default="0"/>
    <arg name="Y_pos_1" default="-1.57"/>
    <group ns="$(arg robot_name_1)">
        <include file="$(find robot_gazebo)/launch/gmapping.launch">
            <arg name="robot_name" value="$(arg robot_name_1)"/>
        </include>

        <include file="$(find robot_gazebo)/launch/create_robot.launch">
            <arg name="robot_name" value="$(arg robot_name_1)"/>
            <arg name="robot_type" value="$(arg robot_type_1)"/>
            <arg name="x_pos" value="$(arg x_pos_1)"/>
            <arg name="y_pos" value="$(arg y_pos_1)"/>
            <arg name="z_pos" value="$(arg z_pos_1)"/>
            <arg name="R_pos" value="$(arg R_pos_1)"/>
            <arg name="P_pos" value="$(arg P_pos_1)"/>
            <arg name="Y_pos" value="$(arg Y_pos_1)"/>
        </include>
        
        <rosparam command="load" file="$(find iss_manager)/config/$(arg robot_type_1).yaml"/>
        <include file="$(find iss_manager)/launch/iss_manager.launch"/>
    </group> -->
</launch>